body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh; /* Usando altura total da viewport */
}

.sidebar {
  width: 230px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: fixed; /* Fixa a sidebar */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha ao canto esquerdo */
  bottom: 0; /* Estende até o final da tela */
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  flex: 0.9;
  padding: 20px;
  margin-left: -70px; /* Adiciona margem à esquerda para acomodar a sidebar */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button-container button:hover {
  background-color: #45a049;
}




/* Estilos básicos para o formulário */
.form-container {
  max-width: 400px;
  margin: 20px ;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 10px;
  margin-bottom: 10rem; /* Ajuste a margem inferior conforme necessário */
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
