html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: arial, sans-serif;
  }
  
  header {
    background-color: black;
    color: white;
    display: flex;
    padding: 8px;
    margin: -8px;
  }
  
  main {
    margin: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  section { 
    padding-inline: 32px;
    padding-block: 32px;
    padding-top: 10px;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.2), 0 2px 15px 0 rgba(0,0,0,0.19);
  }
  
  table {
    min-width: 300px;
    background-color: gray;
    padding: 50px;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.2), 0 2px 15px 0 rgba(0,0,0,0.19);
    border-collapse: collapse;
    border-radius: 7px;
  }
  
  td {
    padding: 10px;
    text-align: center;
    width: 120px;
  }
  
  .inputTable {
    position: relative;
    transition-duration: 0.5s;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.2), 0 2px 15px 0 rgba(0,0,0,0.19);
    background-color: white;
    padding: 6px 16px;
    border: 0px solid transparent;
    border-radius: 15px;
  }