#edit-usuario-btn {
  display: inline-block; /* Exibir o botão como um elemento em linha */
  border: none; /* Remover a borda do botão */
  border-radius: 5px; /* Borda arredondada do botão */
  padding: 5px 10px; /* Espaçamento interno do botão */
  color: #fff; /* Cor do texto do botão */
  cursor: pointer; /* Alterar o cursor ao passar o mouse sobre o botão */
  background-color: #fca311; /* Cor de fundo do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo do botão */
}

#edit-usuario-btn:hover {
  background-color: #fca211c9; /* Cor de fundo ao passar o mouse sobre o botão */
}
/* Estilo para posicionar a imagem do botão */
.input-sistema .btn {
  padding: 0.375rem 0.75rem;
}

/* Estilo para ajustar o espaço entre o campo de texto e o botão */
.input-sistema .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-sistema .btn {
  padding: 0.375rem 0.75rem;
}

/* Estilo para ajustar o espaço entre o campo de texto e o botão */
.input-sistema .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* Estilo para deixar o botão à direita do campo de texto */
.input-sistema .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

tr {
  margin: 10rem;
}
