/* Estilização do formulário de cadastro */

/* Posicionar o formulário */
#area-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--section-bgcolor); /* Cor de fundo personalizada */
}

/* Estilizar o contêiner do formulário */
.form-container {
  border-radius: 15px;
  padding: 2rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilizar os inputs do formulário */
.input-value {
  padding: 12px;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Estilizar o botão de permissões */
.button-permissao {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

/* Estilizar o botão de submit */
.button-submit {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4d6d84;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #395670;
}

/* Estilizar área de consulta */
.area-consulta {
  background-color: #f2f2f2;
  width: 60%;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Estilizar inputs da tabela de consulta */
.input-table {
  width: calc(50% - 5px);
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Estilizar wrapper de input */
.input-wrapper {
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-right: 10px;
}

/* Estilizar botão de filtro */
.btn-filtro {
  padding: 12px 15px;
  background-color: #4d6d84;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  /* Adicionado para espaçamento entre o último campo de entrada e o botão */
}

.btn-filtro:hover {
  background-color: #395670;
}

/* Estilizar tabela de consulta */
.consulta-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin: 0;
}

.consulta-table th {
  background-color: #f2f2f2;
}

.consulta-table tr:hover {
  background-color: #f9f9f9;
}

.consulta-table td {
  padding: 10px;
}

/* Estilizar wrapper de input */
.input-wrapper {
  display: flex;
  align-items: baseline;
}

.input-wrapper input {
  margin-right: 10px;
}

/*Estilização padrão do Botões editar e excluir*/


.td-button {
 width:  -200rem;

}


.button-edit,
.button-excluir {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}



.button-edit {
  background-color: var(--footer-header-color);
  margin-right: 5px;
}

.button-excluir {
  background-color: #e02e2e;
  border-radius: 4px;
}

.button-edit:hover {
  background-color: #395670;
}

.button-excluir:hover {
  background-color: #c02929;
}