html, body {
    background-color: rgb(243, 243, 243);

}

header {
    background-color: #4d6d84;
    padding: 30px;
    margin: 10px;
    margin-top: auto;
    margin-left: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.imgHeader {
    width: 10%;

}

.navbar{
    float: right;
    margin-top: 8px;

}

.navbar ul {
    list-style-type: none;

}

.navbar li {
    display: inline-block;
    
}

.listHeader .a1 {
    font-size: 109%;
    display: block;
    color: white;
    text-align: left;
    margin-right: 15px;
    text-decoration: none;

}

.listHeader a:hover {
    display: block;
    color: rgb(230, 230, 230);
    text-align: center;
    text-decoration: none;

}

section {   
    background-color: rgb(219, 219, 219);
    width: 700px; 
    padding: 22px 30px 90px 17px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 2px solid rgb(196, 196, 196);

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

  }

  th, td {
    border: 2px solid rgb(196, 196, 196);
    padding: 8px;
    text-align: left;
 
  }

  th {
    background-color: #f2f2f2;
  }

footer {
    background-color: #4d6d84;
    color: white;
    margin-top: 30%;
    padding: 30px;

}