/* Estilização da seção */
section {
  display: flex;
  justify-content: center;
}

/* Estilização da tabela de usuários */
.lista-usuarios {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0;
  background-color: #f2f2f2;
}

.lista-usuarios th,
.lista-usuarios td {
  padding: 10px;
}

.lista-usuarios th {
  background-color: #e6e6e6;
}

.lista-usuarios tr {
  margin: 1rem;
}

.lista-usuarios tr:hover {
  background-color: #f9f9f9;
}
