/* Estilização da seção */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Estilização da tabela de logs */
.logs-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilização das células de cabeçalho e células de dados */
.logs-table th,
.logs-table td {
  padding: 10px;
  /*border-bottom: 1px solid #ccc;  descomente se caso queira adicionar uma borda inferior */
}

/* Estilização das células de cabeçalho */
.logs-table th {
  background-color: #e6e6e6;
}

/* Efeito de hover nas linhas da tabela */
.logs-table tr:hover {
  background-color: #f9f9f9;
}
