#area-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--section-bgcolor);
}

.form-container {
  border-radius: 15px;
  padding: 2rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-value {
  padding: 12px;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.button-permissao {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

.button-submit {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4d6d84;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #395670;
}

.area-consulta {
  background-color: #f2f2f2;
  width: 1000px;
  padding: 30px;
  margin: 100px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.input-table {
  width: calc(50% - 5px);
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-wrapper input {
  margin-right: 10px;
}

.btn-filtro {
  padding: 12px 15px;
  background-color: #4d6d84;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  /* Adicionado para espaçamento entre o último campo de entrada e o botão */
}

.btn-filtro:hover {
  background-color: #395670;
}

.consulta-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin: 0;
}

.consulta-table th {
  background-color: #f2f2f2;
}

.consulta-table tr:hover {
  background-color: #f9f9f9;
}

.consulta-table td {
  padding: 10px;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
}

.input-wrapper input {
  margin-right: 10px;
}
