/* Estilização do formulário de cadastro */

/* Posicionar formulário */
#area-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Estilizar formulário */
#form {
  width: 400px;
  border-radius: 15px;
  padding: 2rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilizar input do formulário */
.input-value {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilizar botão de permissões */
#button-permissao {
  display: block;
  margin: 1rem auto;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Estilizar botão de submit */
#button-submit {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4d6d84;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#button-submit:hover {
  background-color: #395670;
}

/* Estilizar labels */
#form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Estilização do Footer */
footer {
  background-color: var(--footer-header-color);
  color: white;
  margin-top: 10rem;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}


/* Estilizar Permissões */
.column-container {
  display: flex;
  flex-wrap: wrap;
}

.selects-permissoes {
  flex-basis: 50%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Altera a direção do conteúdo para coluna */
}

.selects-permissoes label {
  margin-bottom: 5px;
}

.selects-permissoes select {
  width: 50%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/* Estilizar label do formulário */
#form label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*=======================================*/


/* Estilização do Header */




