/* Estilização da seção */
section {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

/* Estilização da tabela de usuários */
.lista-usuarios {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0;
  background-color: #f2f2f2;
}

.lista-usuarios th,
.lista-usuarios td {
  padding: 10px;
}

.lista-usuarios th {
  background-color: #e6e6e6;
}

.lista-usuarios tr {
  margin: 1rem;
}

.lista-usuarios tr:hover {
  background-color: #f9f9f9;
}

/* Estilização do número total de usuários */
.total-usuarios {

  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 5px;
  font-size: 14px; /* Tamanho da fonte menor */
  font-weight: bold;
  padding: 5px; /* Padding menor */
  border-radius: 5px;
  position: absolute;
  top: 0;
  margin: 10px; /* Margem para afastar do topo e da esquerda */
  margin-top: 8rem;
}

