/*Usar para criar estilos globais*/

/*Usado para criar variaveis globais*/
:root{
--footer-header-color:rgb(69, 116, 143);

}
/*Remove o espaço extra adicionado pelo padding e a borda de um elemento.*/
*{
padding: 0;
margin: 0;
box-shadow: none;


}

/*Define a altura da página como 100%*/
html,
body {
  height: 100vh;
}

header, footer{
  background-color: var(--footer-header-color);
  
}


header{


}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 10px;
  text-align: center;
  height: 100px;

}
