/*Usar para criar estilos globais*/

/*Usado para criar variaveis globais*/
:root {
  --footer-header-color: #4d6d84;
  --section-bgcolor: rgb(219, 219, 219);
}

/*Remove o espaço extra adicionado pelo padding e a borda de um elemento.*/
* {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

/*Define a altura da página como 100%*/
html,
body {
  height: 0vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*Estilização padrão do Header*/
header {
  background-color: var(--footer-header-color);
  padding: 30px;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#botao-filtro-a {
  background-color: rgba(250, 235, 215, 0.2);
}

.imgHeader {
  width: 150px;
  height: auto;
}

.navbar {
  float: right;
}

.navbar li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

.list-header .a1 {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.list-header .a1:hover {
  background-color: rgba(250, 235, 215, 0.2);
}

/*Estilização padrão do Footer*/

footer {
  background-color: var(--footer-header-color);
  color: white;
  padding: 10px;
  text-align: right;
}

.contact-info {
  display: flex;
  justify-content: flex-end;
}

.contact-link {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.contact-icon {
  height: 25px;
  vertical-align: middle;
}

/*Estilização padrão do Botões editar e excluir*/
.button-edit,
.button-excluir {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-edit {
  background-color: var(--footer-header-color);
  margin-right: 5px;
}

.button-excluir {
  background-color: #e02e2e;
  border-radius: 4px;
}

.button-edit:hover {
  background-color: #395670;
}

.button-excluir:hover {
  background-color: #c02929;
}

/* Style The Dropdown Button */
.dropbtn {
  cursor: pointer;
}

.dropbtn img {
  width: 55px; /* Defina o tamanho desejado para a largura */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção */
  background-color: var(--footer-header-color);
}

/* Estilo para a dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 3rem;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  top: 100%; /* Alinha o topo da dropdown com a parte inferior do botão */
  right: -40px; /* Alinha a borda direita da dropdown com a borda direita do botão */
}

/* Links dentro da dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar a dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}
