/*Usar para criar estilos globais*/

/*Usado para criar variaveis globais*/
:root{
--footer-header-color:#4d6d84;
--section-bgcolor: rgb(219, 219, 219);

}
/*Remove o espaço extra adicionado pelo padding e a borda de um elemento.*/
*{
padding: 0;
margin: 0;
box-shadow: none;

}

/*Define a altura da página como 100%*/
html,
body {
  height: 0vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}


/*Estilização padrão do Header*/
header {
  background-color: var(--footer-header-color); 
  padding: 30px;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.imgHeader {
  width: 150px;
  height: auto;
}

.navbar{
  float: right;
  margin-top: 8px;

}
.navbar li {
  display: inline-block;
    list-style-type: none;
}

.list-header .a1 {
  font-size: 109%;
  display: block;
  color: white;
  text-align: left;
  margin-right: 15px;
  text-decoration: none;
  padding: 14px 16px;
}

.list-header a:hover {
  border-radius: 4%;
  
  text-align: center;
  text-decoration: none;
  background-color: rgba(250, 235, 215, 0.082);
  
}

/*Estilização padrão do Footer*/



footer{
  background-color: var(--footer-header-color);
  color: white;

  left: 0;
  width: 100%;

  padding: 10px;
  text-align: center;
  height: 100px;

}

/*Estilização padrão do Botões editar e excluir*/

.button-edit {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color:var(--footer-header-color);
  color: #ffffff;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.button-edit:hover{
  background-color:#4d6d84ef;
  
}

.button-excluir {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.button-excluir:hover{
  background-color:#f3eeeec7;

}

